<ion-header [translucent]="true">
  <ion-toolbar style="--background: #258383">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center; font-weight: 600;" color="light">Update Therapy</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/manage-therapy">
        <ion-icon color="light" name="chevron-back-outline"></ion-icon>
        <ion-text color="light">Back</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding">
    <ion-col size="12">
      <ion-title class="title">Name</ion-title>
      <ion-item>
        <ion-input placeholder="Enter Therapy Name" [(ngModel)]="therapyData.name"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-title class="title">Description</ion-title>
      <ion-item>
        <ion-textarea rows="4" placeholder="Description" [(ngModel)]="therapyData.description"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="5.5">
        <ion-buttons style="justify-content: center;">
          <ion-button (click)="updateTherapy()">
            <ion-icon style="color: #258383;" name="checkmark-circle-outline"></ion-icon>
            <ion-text style="color: #258383; margin-left: 5px;"> Update</ion-text>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="1">
        <div class="ion-text-center">
          <ion-text style="vertical-align: -webkit-baseline-middle;">|</ion-text>
        </div>
      </ion-col>
      <ion-col size="5.5">
        <ion-buttons style="justify-content: center;">
          <ion-button (click)="deleteTherapy(therapyData)">
            <ion-icon color="danger" name="close-circle-outline"></ion-icon>
            <ion-text color="danger" style="margin-left: 5px;"> Delete</ion-text>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
